#roaming-offer-details{
    max-width: 360px;
    margin: auto;
    background-color: #EFF2F5;

    .container {
        // margin-bottom: 100px;
        .page-content{

            .section{
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 16px 16px 20px 16px;
                // margin-bottom: 8px;
                margin: 14px 0 8px 0px;

                    .text-content-title{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        // align-items: flex-start;
                        padding: 0;
                        margin-bottom: 8px;

                        .title-1{
                            font-family: 'Telenor';
                            font-weight: 700;
                            font-size: 16px;
                            margin-right: 8px;
                            align-items: flex-start;

                            p{
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .title-2{
                            display: block;
                            font-family: 'Telenor';
                            font-weight: 700;
                            font-size: 16px;
                            text-align: center;

                            
                            p{
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }

                    .title-describe{
                        display: flex;
                        flex-direction: column;
                        padding: 0;

                        .title{
                            font-weight: 500;
                            font-size: 18px;
                            font-family: 'Telenor';
                            margin-bottom: 8px;
                            p{
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .title-list{
                            font-family: 'telenor';
                            font-size: 14px;
                            font-weight: 400;
                           ul{
                            padding: 0px 16px 0px 16px;
                            margin: 0 0 8px 0;
                           }
                        }
                    }
                    .list-validity-price{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .validity{
                            font-family: 'telenor';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            color: #676767;
                            p{
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .price{
                            font-family: 'telenor';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            color: #676767;

                            p{
                                margin: 0;
                                padding: 0;
                            }
                           
                        }
                    }

                
            }
            .section-offer-availity{
                display: flex;
                flex-direction: column;
                padding: 16px;
                background-color: white;

                .title{
                    font-family: 'telenor';
                    font-size: 16px;
                    font-weight: 500;
                    color:  #1A1A1A;

                    p{
                        margin: 0;
                        padding: 0;
                    }
                }
                .country-dropdown{
                    background-color: #F5F5F5;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 12px 0px 12px 16px;
                    box-sizing: border-box;
                    margin: 12px 0px 12px 0px;

                    .country-name{
                        font-family: 'telenor';
                        font-weight: 400;
                        font-size: 14px;

                        p{
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .dropdown-icon{
                        padding-right: 16px;
                    }
                }
                .operators-title{
                    h2{
                        margin: 0;
                        padding: 0;
                    }
                }

                
                .operators-list{
                    .container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 0%;
                    
                    .BSNL,.airtel,.BPL-Cellular,.Tata-Teleseervices {
                            display: flex;
                            align-items: center;
                            .airtel-icon,.tata-icon,.BPL-icon,.BSNL-icon {
                                margin-right: 12px;
                            }
                            .operator-name{
                                font-family: 'telenor';
                                font-weight: 400;
                                font-size: 14px;
                                color: #676767;
                            }
                        }
                        .network {
                            display: flex;
                            font-family: 'telenor';
                            font-weight: 400;
                            font-size: 14px;
                            color: #676767;   
                        }
                    }

                   

                }


            }
            .purchasing{
                margin: 16px;
                box-sizing: border-box;
                text-align: center;
                line-height: 18px;
                font-family: 'telenor';
                font-weight: 400;
                font-size: 12px;

                p{
                    margin: 0;
                    padding: 0%;
                }
            }
            .confim-purchase-btn{
                font-family: 'Telenor';
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                background-color: #0078CF;
                color: white;
                border-radius: 2px;
                padding: 10px 0px 10px 0px;
                margin: 16px;
                p{
                    margin: 0;
                }
            }
            .Features-Conditions{
                font-family: 'Telenor';
                font-weight: 500;
                font-size: 12px;
                text-align: center;
                color: #0078CF;
                margin: 16px 16px 100px 16px ;

                // this bellow given margin is extra 
                // margin-bottom: 100px;
            }
        }


    }

}