#roaming-offer-details{
    max-width: 360px;
    margin: auto;
    background-color: #EFF2F5;

    .container {
        margin-bottom: 100px;
        .page-content{

            .section{
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 16px 16px 20px 16px;
                // margin-bottom: 8px;
                margin: 14px 0 8px 0px;

                    .text-content-title{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        // align-items: flex-start;
                        padding: 0;
                        margin-bottom: 8px;

                        .title-1{
                            font-family: 'Telenor';
                            font-weight: 700;
                            font-size: 16px;
                            margin-right: 8px;
                            align-items: flex-start;
                        }
                        .title-2{
                            display: block;
                            font-family: 'Telenor';
                            font-weight: 700;
                            font-size: 16px;
                            text-align: center;
                        }
                    }

                    .title-describe{
                        display: flex;
                        flex-direction: column;
                        padding: 0;

                        .title{
                            font-weight: 500;
                            font-size: 18px;
                            font-family: 'Telenor';
                            margin-bottom: 8px;
                        }
                        .title-list{
                            font-family: 'telenor';
                            font-size: 14px;
                            font-weight: 400;
                           ul{
                            padding: 0px 16px 0px 16px;
                            margin: 0 0 8px 0;
                           }
                        }
                    }
                    .list-validity-price{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .validity{
                            font-family: 'telenor';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            color: #676767;
                        }
                        .price{
                            font-family: 'telenor';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            color: #676767;
                           
                        }
                    }

                
            }
            .section-offer-availity{
                display: flex;
                flex-direction: column;
                padding: 16px;
                background-color: white;

                .title{
                    font-family: 'telenor';
                    font-size: 16px;
                    font-weight: 500;
                    color:  #1A1A1A;;
                }
                .country-dropdown{
                    background-color: #F5F5F5;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 12px 0px 12px 16px;
                    box-sizing: border-box;
                }


            }
        }


    }

}