 button {
     padding: 10px 0;
     text-align: center;
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.005em;
     color: #FFFFFF;
     background: #0078CF;
     border-radius: 2px;
     border: 1px solid #0078CF;
     width: 100%;
     margin-bottom: 16px;
 }