.header {
    background-color: #FFFFFF;

    .header-container {
        text-align: center;

        .text-box {

            .header-title {   
            color: #1A1A1A;
            margin: 0;
            }

            .header-intro {
                color: #676767;
                margin: 0;
            }
        }
    }
}