
.purchasing{
    margin: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 18px;
    
    font-weight: 400;
    font-size: 12px;

    p{
        margin: 0;
        padding: 0%;
    }
}