
.confim-purchase-btn{
    text-align: center;
    background-color: #0078CF;
    color: white;
    border-radius: 2px;
    padding: 10px 0px 10px 0px;
    margin: 16px;
    p{
        margin: 0;
    }
}