.Features-Conditions{
    font-family: 'Telenor';
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #0078CF;
    margin: 16px 16px 100px 16px ;

    // this bellow given margin is extra 
    // margin-bottom: 100px;
}