.model-2-btn{
    margin: 16px 16px 24px 16px;
    .modal-2-btn-change {
        width: 100%;
        height: 40px;
        font-family: "Telenor";
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #676767;
        box-sizing: border-box;
       
        // color: white;
        border-radius: 2px;
        margin-right: 8px;
        p{
            margin: 0;
            padding: 0;
        }
      }
      .modal-2-btn-go-back {
        
        height: 40px;
        display: flex;
        font-family: "Telenor";
        font-size: 16px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        
        border: 1px solid #676767;
        background-color: #0078cf;
        border-radius: 2px;
        margin-top: 16px;
        // color: white;
        p{
            margin: 0;
            padding: 0;
        }
      }
}