
.notice-banner{
    display: flex;
    flex-direction: row;
    background-color: rgba(253, 190, 17, 0.1);
    align-items: center;
    box-sizing: border-box;
    margin-top: 16px;
   
    .warning-text{
        font-weight: 400;
        font-size: 14px;
        font-family: $ff;
        p{
            padding: 0;
            margin: 0;
        }
    }

    .warning-icon{
        
        padding: 16px;
        font-weight: 400;
        font-size: 14px;
        font-family: $ff;
       
    }
}