@use './../abstract/variable' as *;
.section-offer-availity{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;

    .title{
        font-family: $ff;
        font-size: 16px;
        font-weight: 500;
        color:  #1A1A1A;

        p{
            margin: 0;
            padding: 0;
            font-family: $ff;
        }
    }
    .country-dropdown{
        background-color: #F5F5F5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px 0px 12px 16px;
        box-sizing: border-box;
        margin: 12px 0px 12px 0px;

        .country-name{
            font-family: $ff;
            font-weight: 400;
            font-size: 14px;

            p{
                margin: 0;
                padding: 0;
            }
        }

        .dropdown-icon{
            padding-right: 16px;
        }
    }
    .operators-title{
        h2{
            margin: 0;
            padding: 0;
            font-family: $ff;
        }
    }

    
    .operators-list{
        .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0%;
        
        .BSNL,.airtel,.BPL-Cellular,.Tata-Teleseervices {
                display: flex;
                align-items: center;
                .airtel-icon,.tata-icon,.BPL-icon,.BSNL-icon {
                    margin-right: 12px;
                }
                .operator-name{
                    font-family: $ff;
                    font-weight: 400;
                    font-size: 14px;
                    color: #676767;
                }
            }
            .network {
                display: flex;
                font-family: $ff;
                font-weight: 400;
                font-size: 14px;
                color: #676767;   
            }
        }

       

    }


}