
.section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px 16px 20px 16px;
    // margin-bottom: 8px;
    margin: 14px 0 8px 0px;

        .text-content-title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // align-items: flex-start;
            padding: 0;
            margin-bottom: 8px;

            .title-1{
                font-family: $ff;
                font-weight: 700;
                font-size: 16px;
                margin-right: 8px;
                align-items: flex-start;

                p{
                    margin: 0;
                    padding: 0;
                }
            }
            .title-2{
                display: block;
                font-family: $ff;
                font-weight: 700;
                font-size: 16px;
                text-align: center;

                
                p{
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .title-describe{
            display: flex;
            flex-direction: column;
            padding: 0;

            .title{
                font-weight: 500;
                font-size: 18px;
                font-family: $ff;
                margin-bottom: 8px;
                p{
                    margin: 0;
                    padding: 0;
                }
            }
            .title-list{
                font-family: $ff;
                font-size: 14px;
                font-weight: 400;
               ul{
                padding: 0px 16px 0px 16px;
                margin: 0 0 8px 0;
               }
            }
        }
        .list-validity-price{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .validity{
                font-family: $ff;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #676767;
                p{
                    margin: 0;
                    padding: 0;
                }
            }
            .price{
                font-family: $ff;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #676767;

                p{
                    margin: 0;
                    padding: 0;
                }
               
            }
        }

    
}