#travelsure-active {
    max-width: 440px;
    display: block;
    margin: 0 auto;
    background: #EFF2F5;
     
        .header { 
            background-color: #ffffff;
            .container {
                max-width: 440px;
                padding: 0 16px;
            
               .price-info {
                text-align: center;
                align-items: center;
                justify-content: center;
                display: block;
                margin: 16px 0;
                .price {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 34px;
                    text-align: center;
                    letter-spacing: 0.0015em;
                    color: #1A1A1A;
                    margin-bottom: 4px;
                }
                .details {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.005em;
                    color: #1A1A1A;
                    margin-bottom: 0;
                }
               }

                .price-details {
                  
                    .progress {
                        margin-bottom: 8px;
                        position:relative;
                        height: 12px;
                        width: 408px;
                        border:8px;
                        background: #E9E9E9;
                    }
                    .progress-bar-color {
                        background-color: #75CF7D;
                        border-radius: 8px;
                        position: absolute;
                        width: 70%;
                        height:12px ;
                    }
                    .price-condition {
                        display: flex;
                        justify-content: space-between;
                        .used-price, .limit-price {
                            
                            p {
                                font-Weight: 400;
                                font-Size: 14px;
                                line-height: 22px;
                                color: #676767;
                                margin: 0;
                                span {
                                    font-Weight:500 ;
                                    font-Size:14px;
                                    line-height:22px;
                                    color: #1A1A1A;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        
        .billing {
            background-color: #ffffff;
            margin: 1px 0 8px 0;
            .container {
                max-width: 440px;
                padding:13px 16px;
                .roaming-billing {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .billing {
                        display: flex;
                        .bill-icon {
                            justify-content: center;
                            align-items: center;
                            display: flex;
                        }
                
                        .billing-title {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            display: flex;
                            align-items: center;
                            color: #1A1A1A;
                            margin: 0;
                            margin-left: 16px;
                            text-align: left;
                        }
                    }
                }
                
            }
        }
        .status {
                    background-color: #ffffff;
                    margin: 1px 0 8px 0;
        
                    .status-container {
                        max-width: 440px;
                        padding: 13px 16px;
        
                        .roaming-status-section {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 16px 0;
        
                            .roaming-status {
                                display: flex;
        
                                .text-box {
                                    margin-left: 16px;
        
                                    .title {
                                        margin: 0;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 18px;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: 0.005em;
                                        color: #676767;
                                    }
        
                                    .details {
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 24px;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: 0.005em;
                                        color: #1A1A1A;
                                    }
                                }
                            }
                        }
                    }
        }
        .data-usage {
            background-color: #ffffff;
                margin: 8px 0 ;
            .container {
                max-width: 440px;
                    padding: 13px 16px;
                .data-usage-limit {
                        display: flex;
                
                        .data-usage-text {
                            margin-left: 16px;
                
                            .title {
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 18px;
                                margin: 0;
                                color: #1A1A1A;
                            }
                
                            .text-box {
                                display: flex;
                
                                p {
                                    font-weight: 500;
                                    font-size: 20px;
                                    line-height: 28px;
                                    color: #1a1a1a;
                                    margin: 0px;
                                }
                
                                span {
                                    font-size: 14px;
                                    line-height: 28px;
                                    font-weight: 500;
                                    color: #676767;
                                    margin-right: 8px;
                                }
                
                                .changing-limit {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: 0.005em;
                                    align-items: center;
                                    display: flex;
                                    color: #0078CF;
                                }
                            }
                        }
                    }
            }
        }
    
}