@font-face {
    font-family: 'Telenor';
    src: url('./../../fonts/Telenor-Bold.woff2') format('woff2'),
        url('./../../fonts/Telenor-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telenor';
    src: url('./../../fonts/Telenor-Bold.woff2') format('woff2'),
        url('./../../fonts/Telenor-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telenor';
    src: url('./../../fonts/Telenor-Light.woff2') format('woff2'),
        url('./../../fonts/Telenor-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telenor';
    src: url('./../../fonts/Telenor.woff2') format('woff2'),
        url('./../../fonts/Telenor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

